// Cores principais
$green-dark: #0B7A3F;
$green-medium: #39A759;
$green-light: #59cf7a;
$gray-dark: #464646;
$gray-medium: #8e8e8e;
$gray-light: #d0d0d0;
$white: #FFFFFF;
$yellow: #FFD700;
$black: #000000;
$danger-color: #FF4C4C;


// Sombras
$shadow-light: 0 2px 8px rgba(0, 0, 0, 0.3);

// Bordas
$radius: 12px;

// Tipografia
$font-title: 'Montserrat', sans-serif;
$font-body: 'Open Sans', sans-serif;
